
langchain>=0.2.0
langchain-community
langchain-openai
langchain-postgres
langchain-text-splitters
python-dotenv
psycopg[binary]
pgvector
streamlit
pypdf




###ORR
streamlit
python-dotenv
langchain
langchain_openai
langchain_community
langchain_text_splitters
langchain_postgres
psycopg2-binary
openai
pgvector








##3rd try
streamlit
langchain
openai
ollama
psycopg2-binary
pgvector
python-dotenv


streamlit
langchain>=0.1.114
openai
ollama>=0.6.1
psycopg2-binary
pgvector
python-dotenv
